@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  font-family: Poppins, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 27);
  padding: 15px 25px;
}

#move-selection {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.select-move-btn {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
}

.select-move-btn img {
  height: 80px;
}

#result-wrapper {
  color: #fff;
}

.result {
  font-size: 30px;
  font-weight: 600;
}

.moves {
  margin-top: 7px;
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  background-color: rgb(42, 143, 42);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  background-color: rgb(31, 117, 31);
}

#reset-confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  background-color: #f1f1f1;
  border-radius: 10px;
  width: auto;
  padding: 10px 15px;
  visibility: hidden;
  transition: transform 0.3s, top 0.3s;
}

.on {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}

.confirmation-btn {
  flex: 1;
}
